<p>test works!</p>
<!--<div *ngIf="true">Display data</div>-->

<!--ngIfElse-->
<!--<p>ngIfElse Example</p>
<div *ngIf="isLogIn; else isLogOut">
    Hello you are logged in
</div>
<ng-template #isLogOut>
    You are Log Out
</ng-template>-->

<!--<h2>ngFor Example</h2>
<ul>
    <li *ngFor="let l of list">
        {{l}}
    </li>
</ul>-->

<!--trackBy-->
<!--<ul>
    <li *ngFor="let std of studentArr;trackBy:trackByData">
        {{std.name}}
    </li>
</ul>-->

<!--ngSwitch-->
<!--<ul [ngSwitch]="logInName">
    <li *ngSwitchCase="'user'">
        <p>User is logged in</p>
    </li>
    <li *ngSwitchCase="'admin'">
        <p>admin is logged in</p>
    </li>
    <li *ngSwitchDefault>
        <p>Please choose login name</p>
    </li>
</ul>-->

<!--Attribute directive-->
<!--<p [ngStyle]="{'color':'blue','font-size':'14px'}">
    paragraph using ngStyle
</p>-->

<!--<div class="container">
    <br/>
    <div *ngFor="let user of users" [ngClass]="{
        'highlight':user.userName === 'User1'
    }">
    {{user.userName}}
</div>
</div>-->

<h1>Test Component</h1>
<app-child [userName]="name"></app-child>
